#######################################################################
#            PRE-GENERATE FLUX INTERACTION PROBABILITIES              # 
#######################################################################

# A configuration file to be used to generate GENIE files required to use 
# the genieMC module. 
#
# This example shows how to generate flux interaction probabilities for
# a given flux file and geometry top volume. 
#
# See the documentation, configuring genie for nd280Control for details.
#
# The nd280 software is required, specify in the usual way.
# You must provide a (bash) script that sets up the genie environment.
# You should specify the free nucleon files from Genie. Not required but will 
# dramatically speed up the job.
#
# To get help for a command use runND280 --command=""

[software]
cmtpath = environment
cmtroot = environment
# nd280ver =  v11r17
genie_setup_script = /nfs/hepcode/t2k/GENIE/setup.sh

[configuration]
module_list = genieSetup

[geometry]
p0d_water_fill = %P0D_WATER%
%GEOMETRY%

[neutrino]
# Generate for all neutrino flavours 
neutrino_type = beam

# Specify the top level geom volume to generate events over
master_volume = %MASTER_VOLUME%
force_volume_name = true

# Specify path to xs table for current geometry and version of GENIE 
genie_xs_table = %XS_TABLE%

# Tell genieSetup to generate flux interaction probabilities
genie_generate_flux_probs = 1

# Specify the input flux file. Like this for a single file
#  (can be a hadd-ed file)
flux_file = %FLUX_FILE%
# Or use the following 3 options for multiple flux files
# Note: The sequence goes from start to end inclusive
# Note: ".root" is assumed at the end of each file
# Note: "." is assumed between flux_file_path and file number
#flux_file_path = nu.nd280
#flux_file_start = 0
#flux_file_stop = 99
# Set flux file POT if dealing with non-standard (POT != 1E21) files
# OR if using multiple flux input files (in this case specify the sum
# of POT of all the input files)
flux_file_pot = %N_FLUX_FILES%E+21

# Specify the flux region 
flux_region = %FLUX_REGION%
# Override the default flux probs output name: 
genie_flux_probs_file_name = %FLUX_PROBS_NAME%

